ion-toolbar,
ion-item,
ion-list,
ion-content {
  --background: var(--ion-background-color);
  background: var(--ion-background-color);
}

.divider {
  border-bottom: 1px var(--ion-item-background) solid;
  padding-bottom: 1px;
}

.header ion-col {
  color: var(--ion-background-color);
}

ion-chip {
  --background: var(--ion-background-color);
  --color: var(--ion-item-background);
}

.web ion-chip {
  font-size: 10px;
}
