<ion-header>
  <ion-toolbar>
    <ion-title>Insertar Datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-grid>
      <!-- Angulo -->
      <ion-row *ngFor="let input of inputs">
        <ion-col size="10">
          <ion-item>
            <ion-label floating>{{input.name}}</ion-label>
            <ion-input [(ngModel)]="input.value" name="input.name" type="tel"></ion-input>
            <ion-note item-end> {{input.selectedU}} </ion-note>
          </ion-item>
        </ion-col>
        <!-- <ion-col col-2 align-self-center>
        </ion-col> -->
        <ion-col size="2" align-self-center>
          <ion-item class="rounded">
            <ion-label fixed class="text-center">U</ion-label>
            <ion-select (ionChange)="validateUnits(input)" interface="popover" [(ngModel)]="input.selectedU">
              <ion-select-option *ngFor="let u of input.units" value="{{u}}">{{u}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- name -->
    <!-- selectedU -->
    <!-- unidades -->
    <div class="divider"></div>
    <ion-button expand="block" color="header" (click)="seleccionarUnidades()">Resolver</ion-button>
  </ion-list>
</ion-content>
